@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.ContentModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  overflow-y: scroll;
  
  scrollbar-width: none;
}

.ContentModal::-webkit-scrollbar {
  display: none;
}

.ContentModal__about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.ContentModal__title {
  height: 12%;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentModal__description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #000000;
  text-align: justify;
}

.ContentModal__description::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 38%;
  }
  .ContentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .ContentModal__about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .ContentModal__title {
    font-size: 3.5vw;
  }
  .ContentModal__description {
    font-size: 22px;
  }
}
.proper{
    width: "90%";
    height: "80%";
    background-color: "#39445a";
    border: "1px solid #282c34";
    border-radius: 10;
    color: "white";
}
.Typography{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.fade{
  background-color: rgba(0, 32, 55, 0.922);
  color: rgb(255, 255, 255);
  
}
.Typography h3{
  color: #ffffff;
  font-size: 18px;
  font-weight:380 ;
}
.Typography h3{
  color: #ff1e1e;
  font-size: 18px;
  font-weight:380 ;
}
p{
  font-size: 14px;
  color: rgb(197, 197, 197);
  font-weight: 400;
}
.card{
  width: 600px;
}