.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #e8e8e8;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .links a:hover {
    background-color: #333;
    color: #fff;
  }
  .ap {
    text-align: center;
    margin-top: 50px;
  }
  
  .links {
    margin-top: 20px;
  }
  h2{
    font-weight: 400;
  }
  h5{
    font-weight: 400;
  }